<h1>Edit your shit.</h1>

<%= form_for @user do |f| %>
  <%= f.label :user_name, "User Name" %>
  <br>
  <%= f.text_field :user_name, :value => @user.user_name %>
  <br>
  <%= f.label :password, "Password" %>
  <br>
  <%= f.password_field :password %>
  <br>
  <%= f.label :password_confirmation, "Confirm Password" %>
  <br>
  <%= f.password_field :password_confirmation %>
  <br>
  <%= f.submit "update"%>
<% end %>

