<h2>Welcome <%= @user.user_name %></h2>
<h3>Here's what people want to share with you:</h3>
<ul>
  <% @user.secrets.each do |secret| %>
  <li>
    <%= secret.created_at.to_date %>
    <%= @user.user_name %>  revealed
    <%= link_to secret.body, secret_path(secret) %>
  </li>
  <% end %>

</ul>
<%= link_to "Edit Profile", edit_user_path %>
<br>
<%= link_to "Delete User", user_path, :method => :delete, :confirm => "You sure, damn you?!?" %>
<br>
<%= link_to "Log out, damn you.", session_path, :method => :delete %>

<!-- <%= link_to "Add new secret", new_secret_path %> -->