<h1>Log In</h1>
<%= form_tag  session_path, :method => :post do %>
  <%= label_tag(:user_name, "User Name") %>
  <%= text_field_tag(:user_name) %>
  <br>
  <%= label_tag(:password, "Password") %>
  <%= password_field_tag(:password)  %>
  <br>
  <%= submit_tag ("Submit!") %>
<% end %>
<%= link_to "Create Account", new_user_path %>